* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;

  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;

  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;

  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  height: 60px;
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0%;
  text-align: center;
  margin: 0px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.13);
  z-index: 3;
}

header > h2 {
  float: left;
  margin-left: 30%;
  margin-top: 5%;
  display: inline-block;
  font-size: 140%;
}

.close-btn {
  position: fixed;
  margin-top: 4%;
  left: 7%;
  font-size: 180%;
  color: white;
  text-decoration: none;
}

#content {
  margin-top: 65px;
}

.done-btn {
  bottom: 5%;
  position: fixed;
  right: 7%;
  text-align: center;
}

div.combobox > * {
  z-index: 3;
}

div.combobox {
  position: relative;
  zoom: 1;
}

div.combobox    div.dropdownlist {
  display: none;
  width: 95%;
  border: solid 1px #cbcbcb;
  background-color: #fff;
  height: 200px;
  overflow: auto;
  position: absolute;
  top: 28px;
  left: 0px;
}

div.combobox    .dropdownlist   a {
  display: block;
  text-decoration: none;
  color: #000;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  height: 1em;
  cursor: default;
  border-top: solid #cbcbcb 1px;
}

div.combobox    .dropdownlist   a.light {
  color: black;
}

div.combobox    .dropdownlist,
input {
  font-family: Tahoma;
  font-size: 130%;
}

div.combobox    input {
  float: left;
  width: 85%;
  border: solid 1px #ccc;
  height: 25px;
}

div.combobox    span {
  border: solid 1px #ccc;
  background-color: #eee;
  width: 10%;
  height: 27px;
  float: left;
  text-align: center;
  border-left: none;
  cursor: default;
}